*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Quicksand', sans-serif;
  background-color: lightgrey;
  font-weight: normal;
}
/* eweugkufgfku tyrtyrt*/
header{
  padding: 1%;
  background-color: white;
  height: 70px;
  font-size: 50px;
}

img{
    vertical-align: middle;
}

.intestazione{
  width: 800px;
  height: 50px;
  background-color: white;
  margin-left: 20%;
  margin-top: 5%;
  padding: 1%;
}

.button{
  border-radius: 8px;
  padding: 5px;
  padding: 10px;
  color: white;
}

.addtast{
  background-color: #007fff;
}

.addsection{
  background-color: lightgrey;
}

section{
  width: 800px;
  height: 450px;
  background-color: white;
  margin-left: 20%;
  margin-top: 2px;
  padding: 1%;
}

h3{
  font-weight: bold;
}

li{
  margin-top: 10px;
}

ul {
    list-style-type: none;
}


.freccia{
  font-size: 12px;
}

.red{
  font-size: 12px;
  color: red;
}

.green{
  font-size: 12px;
  color: green;
}

.etichetta{
  border-radius: 8px;
  padding: 5px;
  font-size: 10px;
  color: white;
}

.editorial{
  background-color: #007fff;
}

.q1goals{
  background-color: #8f00ff;
}

.recruiting{
  background-color: #66ff66;
}

.mobile{
  background-color: #ffa500;
}

.website{
  background-color: #ff6781;
}

.today{
  margin-top: 20px;
}

footer{
  margin-left: 20%;
}
